<header id="header">
  <nav
    id="main-menu"
    class="navbar navbar-default navbar-fixed-top"
    role="banner"
  >
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"
          ><img
            src="../../../../../assets/images/logo_new.png"
            alt="PayCr"
            style="max-height: 60px; max-width: 122px;"
        /></a>
      </div>

      <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li class="scroll"><a href="/#home">Home</a></li>
          <li class="scroll"><a href="/#features">Features</a></li>
          <li class="scroll"><a href="/#services">Services</a></li>
          <!-- <li class="scroll"><a href="/#portfolio">Portfolio</a></li> -->
          <li class="scroll"><a href="/#about">About</a></li>
          <!-- <li class="scroll"><a href="/#meet-team">Team</a></li> -->
          <li class="scroll"><a href="/#pricing">Pricing</a></li>
          <!-- <li class="scroll"><a href="/#blog">Blog</a></li> -->
          <li class="scroll"><a href="/#get-in-touch">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<section id="services">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title text-center wow fadeInDown">Privacy Policy</h2>
      <p class="text-center wow fadeInDown">
        We at PayCr give our customers the highest priority. All the customer
        related data are respectively mapped and is only accessible to the
        intended user. All the practices and policies related to customer’s
        privacy is shared in detail.
      </p>
    </div>
    <div class="row">
      <div>
        <ol>
          <li>
            <strong>Customer information and its use:</strong><br />The Policy
            to use customer information in a myriad of scenarios is shared
            below.
          </li>
          <ol>
            <li>
              <strong>Personal details (Create &amp; Update)</strong><br />
              <p>
                While registering a merchant we request for a unique Email id,
                unique mobile number. A password reset link will be sent to the
                new email for onboarding. The email ID and Mobile number will be
                used to communicate the transactional, promotional and policy
                level updates. Update on the user credentials can be done by the
                user through the portal via proper authentication and
                notification.
              </p>
              <p>
                We will use your personal details solely to render you the
                services and updates related to PayCr Services. We will not
                share the information to any third party for promotional
                purposes, nor will utilize it for any purposes not expressly
                consented to by you.
              </p>
              <p>
                Whenever you choose to refer a friend, we will use the details
                to send a one-time communication. We post user testimonials on
                our website. These testimonials may include customer information
                which we confirm from users prior to posting these on our
                website. PayCr is not responsible for the Personal Information
                users chooses to post within their posted testimonials.
              </p>
            </li>
            <li>
              <strong>Customer Credentials and contents of user accounts</strong
              ><br />
              <p>
                PayCr stores and maintains file, documents and other user
                related credentials at a secondary secured location. This is
                done to prevent loss of data due to system or infrastructure
                failure.
              </p>
            </li>
            <li>
              <strong>Online Payment</strong><br />
              <p>
                PayCr sends payment links to your consumers for invoices on your
                behalf at your trigger only.
              </p>
            </li>
            <li>
              <strong>Billing and Payment Information</strong><br />
              <p>
                We do not store any details of your payment except of the
                following:
              </p>
              <ol>
                <li>Payment Reference No</li>
                <li>Payment Status</li>
                <li>Payment Mode</li>
              </ol>
              <p>
                We do not store any card information or preferences. We use
                third party services to process online payments.
              </p>
            </li>
            <li>
              <strong>Device Details:</strong><br />
              <p>
                The login device details are stored in the form of cache and
                cookies. This is done to enhance your experience.
              </p>
            </li>
          </ol>
          <li>
            <strong>Cookies and Other Tracking Technologies:</strong><br />
            <p>
              Technologies such as cookies, tags and scripts etc. are used to
              analyze customer activities, preferences, session and other
              demographic data to provide contextual services. Cookies can be
              deleted from your browser.
            </p>
          </li>
          <li>
            <strong>External Website links:</strong><br />
            <p>
              Users might find external website links on the PayCr website in
              the form of advertisements or references or links. Any activity
              post landing on the third party page will be dealt under the
              privacy guidelines of the third party. PayCr has no role to play
              in it.
            </p>
          </li>
          <li>
            <strong>User Authentication:</strong><br />
            <p>
              One can login using PayCr site using inhouse credentials. These
              credentials are stored in encrypted formats and are safe as per
              industry standards.
            </p>
          </li>
          <li>
            <strong>Information Sharing:</strong><br />
            <p>
              PayCr has the right to share user information with PayCr
              affiliates to inform you about related products. In case of merger
              and acquisition PayCr reserves the right to share the customer
              information for further use. Customers will be informed about the
              development and ensured that no misuse is done with the customer
              information.
            </p>
          </li>
          <li>
            <strong>Data Security:</strong><br />
            <p>
              Data Security is of prime concern to PayCr business and will
              employ standard protocols to secure the data. Cryptographic
              private and public key encryption is done to the passwords to
              ensure misuse of the platform even from a database administrator
              level.
            </p>
          </li>
          <li>
            <strong>Notifications &amp; Promotional Activities:</strong><br />
            <p>
              Users will be sent notifications about the transaction through SMS
              and E-mail. They might receive email notifications for promotions,
              new products and updates. They will have the right to opt out of
              these services by clicking unsubscribe button in the email.
            </p>
          </li>
          <li>
            <strong
              >Right to share information: Investigation of Illegal
              Activity</strong
            ><br />
            <p>
              Our employees will have the right to access to your personal
              details in case we suspect a illegal or fraudulent activity on the
              account. In any case we will ensure that the activity is not the
              violation of your rights and in line with the define privacy rules
              of the company.
            </p>
          </li>
          <li>
            <strong>Enforcing the Privacy Policy:</strong><br />
            <p>
              PayCr will periodically ensure that the privacy policies are
              implemented and practiced with utmost seriousness. Regular audit
              checks will be done at the organizational level to safeguard the
              privacy of the users.
            </p>
          </li>
          <li>
            <strong>Notify Changes:</strong><br />
            <p>
              Any change in the company policy, privacy policy or product
              guidelines impacting the consumer will be notified through E-mail
              to the user using the company Email ID.
            </p>
          </li>
          <li>
            <strong>Reach us:</strong><br />
            <p>
              In case of any concern related to privacy policy or product users
              can reach out to PayCr through care@paycr.in
            </p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
