<app-navbar></app-navbar>
<main class="mt-20 mx-4">
  <section id="services" style="margin: 10px;">
    <div class="container">
      <div class="section-header">
        <h2 class="text-2xl text-center font-semibold">Privacy Policy</h2>
        <p class="text-sm text-center font-semibold">
          We at Share Free give our users the highest priority. All the user
          related data are respectively mapped and is only accessible to the
          intended user. All the practices and policies related to user’s
          privacy is shared in detail.
        </p>
      </div>
      <div class="row mt-5">
        <div>
          <ol>
            <li>
              <strong>User information and its use:</strong><br />
              <p>The Policy
                to use user information in a myriad of scenarios is shared
                below.</p>
            </li>
            <ol>
              <li class="mt-5">
                <strong>Personal details (Create &amp; Update)</strong><br />
                <p>
                  While registering a user we request for a unique Email id and a
                  unique mobile number. The email ID and Mobile number will be
                  used to communicate the transactional, promotional and policy
                  level updates.
                </p>
                <p>
                  We will use your personal details solely to render you the
                  services and updates related to Share Free. We will not
                  share the information to any third party for promotional
                  purposes, nor will utilize it for any purposes not expressly
                  consented to by you.
                </p>
                <p>
                  Whenever you choose to refer a friend, we will use the details
                  to send a one-time communication. We post user testimonials on
                  our website. These testimonials may include user information
                  which we confirm from users prior to posting these on our
                  website. Share Free is not responsible for the Personal Information
                  users chooses to post within their posted testimonials.
                </p>
              </li>
              <li class="mt-5">
                <strong>User Credentials and contents of user accounts</strong><br />
                <p>
                  Share Free stores and maintains file, documents and other user
                  related credentials at a secondary secured location. This is
                  done to prevent loss of data due to system or infrastructure
                  failure.
                </p>
              </li>
              <li class="mt-5">
                <strong>Online Payment</strong><br />
                <p>
                  Share Free may send payment links for some of the premium services availed by the users.
                </p>
              </li>
              <li class="mt-5">
                <strong>Billing and Payment Information</strong><br />
                <p>
                  We do not store any details of your payment except of the following:
                </p>
                <ol class="list-disc pl-4">
                  <li>Payment Reference No</li>
                  <li>Payment Status</li>
                  <li>Payment Mode</li>
                </ol>
                <p>
                  We do not store any card information or preferences. We use
                  third party services to process online payments.
                </p>
              </li>
              <li class="mt-5">
                <strong>Device Details:</strong><br />
                <p>
                  The login device details are stored in the form of cache and
                  cookies. This is done to enhance your experience.
                </p>
              </li>
            </ol>
            <li class="mt-5">
              <strong>Cookies and Other Tracking Technologies:</strong><br />
              <p>
                Technologies such as cookies, tags, tokens and scripts etc. are used to
                analyze user activities, preferences, session and other
                demographic data to provide contextual services. Cookies can be
                deleted from your browser.
              </p>
            </li>
            <li class="mt-5">
              <strong>External Website links:</strong><br />
              <p>
                Users might find external website links on the Share Free website or app in
                the form of advertisements or references or links. Any activity
                post landing on the third party page will be dealt under the
                privacy guidelines of the third party. Share Free has no role to play
                in it.
              </p>
            </li>
            <li class="mt-5">
              <strong>User Authentication:</strong><br />
              <p>
                A user can login to Share Free app using mobile OTP, Google Login, Facebook login or Twitter login.
                These
                login flows are done through third-party integration and are safe as per
                industry standards.
              </p>
            </li>
            <li class="mt-5">
              <strong>Information Sharing:</strong><br />
              <p>
                Share Free has the right to share user information with Share Free
                affiliates to inform you about related products. In case of merger
                and acquisition Share Free reserves the right to share the user
                information for further use. Users will be informed about the
                development and ensured that no misuse is done with the user
                information.
              </p>
            </li>
            <li class="mt-5">
              <strong>Data Security:</strong><br />
              <p>
                Data Security is of prime concern to Share Free business and will
                employ standard protocols to secure the data. Cryptographic
                private and public key encryption is done to the passwords to
                ensure misuse of the platform even from a database administrator
                level.
              </p>
            </li>
            <li class="mt-5">
              <strong>Data Deletion Request Policy:</strong><br />
              <p>
                At Share Free, we are committed to protecting your personal data and respecting your privacy rights.
                This policy outlines the procedures for requesting the deletion of your personal data from our records
                via email. We take data privacy seriously and will ensure the prompt and secure removal of your data
                upon receiving a valid request.
              </p>
              <p><span>
                  <ul class="list-disc pl-4">
                    <li>To request the deletion of your personal data, you must be the data subject or authorized by the
                      data subject. If you are making a request on behalf of someone else, you must provide proof of
                      your authorization.</li>
                    <li>Share Free will verify the identity of the data subject or their authorized representative
                      before processing any data deletion request. We may request additional information or documents to
                      establish identity.</li>
                    <li>
                      <p class="font-semibold">Your data deletion request should include the following information:</p>
                      <ul class="list-disc pl-4">
                        <li>Your full name</li>
                        <li>Contact information (email and phone number)</li>
                        <li>Description of the personal data you want to be deleted</li>
                        <li>Any relevant details to help us locate your data</li>
                        <li>Proof of identity (if not the data subject)</li>
                      </ul>
                    <li>You can submit your data deletion request via email to <a class="font-semibold"
                        href="mailto:contact@sharefree.co.in">contact@sharefree.co.in</a>.</li>
                    <li>
                      We will acknowledge the receipt of your request within [X] business days. The request will be
                      processed and completed within [X] calendar days from the date of verification of your identity.
                    </li>
                    <li>
                      <p class="font-semibold">Upon receiving a valid data deletion request, Share Free will:
                      </p>
                      <ul class="list-disc pl-4">
                        <li>Identify and locate the requested data.</li>
                        <li>Securely delete the data from our systems and backups.</li>
                        <li>Send you a confirmation email once the data has been deleted.</li>
                      </ul>
                    </li>
                    <li>Please note that there may be legal obligations or legitimate business reasons for retaining
                      certain data. In such cases, we will inform you of the reasons for not deleting the data and
                      provide details about your rights to object or appeal.</li>
                    <li>We will maintain records of data deletion requests and their resolutions in accordance with
                      legal requirements.</li>
                  </ul>
                </span></p>
            </li>
            <li class="mt-5">
              <strong>Notifications &amp; Promotional Activities:</strong><br />
              <p>
                Users will be sent notifications about the transaction through SMS
                and E-mail. They might receive email notifications for promotions,
                new products and updates. They will have the right to opt out of
                these services by clicking unsubscribe button in the email.
              </p>
            </li>
            <li class="mt-5">
              <strong>Right to share information: Investigation of Illegal
                Activity</strong><br />
              <p>
                Our employees will have the right to access to your personal
                details in case we suspect a illegal or fraudulent activity on the
                account. In any case we will ensure that the activity is not the
                violation of your rights and in line with the define privacy rules
                of the company.
              </p>
            </li>
            <li class="mt-5">
              <strong>Enforcing the Privacy Policy:</strong><br />
              <p>
                Share Free will periodically ensure that the privacy policies are
                implemented and practiced with utmost seriousness. Regular audit
                checks will be done at the houseal level to safeguard the
                privacy of the users.
              </p>
            </li>
            <li class="mt-5">
              <strong>Reach us:</strong><br />
              <p>
                In case of any concern related to privacy policy or product users
                can reach out to Share Free through <a class="font-semibold" href="mailto:contact@sharefree.co.in">contact@sharefree.co.in</a>
              </p>
            </li>
          </ol>
          <br />
        </div>
      </div>
    </div>
  </section>
</main>