
  <div class="site-wrapper overflow-hidden position-relative">
    <!-- Site Header -->
    <!-- Preloader -->
    <!-- <div id="loading">
    <div class="preloader">
     <img src="./image/preloader.gif" alt="preloader">
   </div>
   </div>    -->
    <!--Site Header Area -->
    <header class="site-header site-header--menu-right landing-13-menu site-header--absolute site-header--sticky">
      <div class="container">
        <nav class="navbar site-navbar">
          <!-- Brand Logo-->
          <div class="brand-logo">
            <a class="navbar-brand" href="#">
                <img src="../../../../../assets/images/favicon_128.png" alt="Share Free"
                  style="max-height: 60px; max-width: 122px" />
              </a>
          </div>
          <h3>Share Free</h3>
          <div class="menu-block-wrapper">
            <div class="menu-overlay"></div>
            <nav class="menu-block" id="append-menu-header">
              <div class="mobile-menu-head">
                <div class="go-back">
                  <i class="fa fa-angle-left"></i>
                </div>
                <div class="current-menu-title"></div>
                <div class="mobile-menu-close">&times;</div>
              </div>
              <ul class="site-menu-main">
                <li class="nav-item">
                  <a href="#" class="nav-link-item" [routerLink]="['/login']">Admin Login</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link-item">Support</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="header-btn header-btn-l-13 ms-auto d-none d-xs-inline-flex">
            <a target="_blank" class="btn btn download-btn focus-reset" href="https://play.google.com/store/apps/details?id=com.sharefree.share_free_app">
              Download for free
            </a>
          </div>
          <!-- mobile menu trigger -->
          <div class="mobile-menu-trigger">
            <span></span>
          </div>
          <!--/.Mobile Menu Hamburger Ends-->
        </nav>
      </div>
    </header>
    <!-- navbar- -->
    <!-- Hero Area -->
    
    <!-- CTA-area start -->
    <div class="cta-area-l-13" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-12">
            <div class="row justify-content-center">
              <div class="col-xxl-7 col-xl-8 text-center">
                <div class="content">
                  <span class="tagline">Time to take action</span>
                  <h2>Join today and find your support group</h2>
                  <div class="apps-btn">
                    <a class="app-store" target="_blank" href="https://play.google.com/store/apps/details?id=com.sharefree.share_free_app"><img src="../../../assets/general/app-store.png" alt=""></a>
                    <a class="app-store" target="_blank" href="https://play.google.com/store/apps/details?id=com.sharefree.share_free_app"><img src="../../../assets/general/google-play.png" alt=""></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Area -->
    <footer class="footer-l-13 text-center text-md-start">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="footer-border-l-13"></div>
          </div>
        </div>
        <div class="row footer-l-13-items">
          <div class="col-md-6">
            <div class="footer-widget-l-13">
              <ul class="pl-0 list-unstyled d-flex flex-wrap justify-content-center align-items-end ">
                <li class="d-flex"><a href="" [routerLink]="['/about']">About</a></li>
                <li class="d-flex"><a href="" [routerLink]="['/terms']">Terms & Conditions</a></li>
                <li class="d-flex"><a href="" [routerLink]="['/policy']">Policy Agreement</a></li>
                <li class="d-flex"><a href="" [routerLink]="['/faq']">FAQs</a></li>
                <li class="d-flex"><a href="" [routerLink]="['/contact']">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="copyright-area-l-13 text-center text-md-right">
              <p>© Share Free 2023 All right reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
