<header id="header">
  <mat-toolbar>
    <mat-toolbar-row>
      <a class="navbar-brand" href="#"><img src="../../../../../assets/images/favicon_128.png" alt="Share Free"
          style="max-height: 60px;" /></a>
      <span class="example-spacer"></span>
      <h1>Share Free</h1>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<section id="services" style="margin: 10px;">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title text-center wow fadeInDown">Share Free about</h2>
      <p class="text-center wow fadeInDown">
        Share Free is a free to use platform where virtual support groups can be created
        and virtual circle meetups can be held.
      </p>
    </div>
    <div class="row">
      <div>
        <ol>
          <li><strong>In Share Free, users can:</strong>
            <ul>
              <li>
                create groups;
              </li>
              <li>organize their groups in different houses;</li>
              <li>host events, QnAs, guest lectures for your house;</li>
              <li>add/remove members in your groups;</li>
              <li>search and join groups on the basis of topics (alcoholism, depression, cancer,..);</li>
              <li>etc.</li>
            </ul>
          </li>
          <li>
            <strong>Reach us:</strong><br />
            <p>
              In case of any concern related to privacy policy or product users
              can reach out to <a href="mailto:contact@sharefree.co.in">contact@sharefree.co.in</a>
            </p>
          </li>
        </ol>
        <br />
      </div>
    </div>
  </div>
</section>