<app-navbar></app-navbar>
<main class="mt-20 mx-4">
  <section id="services" style="margin: 10px;">
    <div class="container">
      <div class="section-header">
        <h2 class="text-2xl text-center font-semibold">Share Free about</h2>
        <p class="text-sm text-center font-semibold">
          Share Free is a free to use platform where virtual support groups can be created
          and virtual circle meetups can be held.
        </p>
      </div>
      <div class="row mt-5">
        <div>
          <ul>
            <li>
              <p>
                <b>Welcome to Share Free | Your Support Groups!</b>
                <br /><br />
                Our mission is to create a safe and supportive space where individuals can connect and find the
                support
                they need. We believe that virtual support groups can provide an accessible and convenient way for
                people
                to connect with others who may be going through similar experiences.
                <br /><br />
                With Share Free, you can create your own virtual support group, or join an existing group based on
                your interests or needs. You have the option to keep your group private and invite only the people you
                want to join, or you can open it up to the wider community.
                <br /><br />
                Our app also includes features such as secure messaging and scheduling tools to make it
                easy for you to connect with your group members and stay organized.
                <br /><br />
                We understand that sharing personal information and experiences can be difficult, which is why we take
                your privacy and security seriously. We have implemented measures to protect your information and
                ensure
                that you have control over what you share within your virtual support group.
                <br /><br />
                At Share Free, we are committed to continuously improving and evolving our app to meet the needs of
                our users. We welcome your feedback and suggestions on how we can make our app even better.
                <br /><br />
                Thank you for choosing Share Free | Your Support Groups. We are here to support you.
                <br /><br />
              </p>
            </li>
            <li class="mt-5">
              <strong>Reach us:</strong><br />
              <p>
                In case of any concern related to privacy policy or product users
                can reach out to <a href="mailto:contact@sharefree.co.in">contact@sharefree.co.in</a>
              </p>
            </li>
          </ul>
          <br />
        </div>
      </div>
    </div>
  </section>
</main>