<div class="form-group">
  <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Query Options</label>
  <div class="flex flex-row space-x-2">
    <input
      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      type="text" [(ngModel)]="newOption" />
    <button
      class="text-white bg-gray-700 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
      type="button" color="primary" (click)="add(newOption)">Add</button>
    <button mat-button type="button" *ngFor="let option of options" (click)="delete(option)"><i class="fa fa-multiply"></i> {{option}}</button>
  </div>
</div>