<div class="flex flex-col mx-4 my-4">
  <div class="flex flex-row mx-auto space-x-8">
    <h1 class="text-2xl">Topics</h1>
    <button type="button"
      class="text-white bg-gray-700 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
      aria-label="create topic" (click)="createDiv()">
      Create
    </button>
  </div>
  <br />
  <div class="flex flex-col" *ngIf="showCreateDiv">
    <form class="space-y-4 md:space-y-6" [formGroup]="createForm" (ngSubmit)="create()">
      <h1 class="text-xl">New Topic</h1>
      <div class="form-group">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
        <input type="text"
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Name" formControlName="name" />
      </div>
      <div class="button">
        <button
          class="w-full text-white bg-gray-700 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Create</button>
      </div>
    </form>
  </div>
  <br />
  <hr />
  <br />
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="topicsDataSource" class="full-width-table" matSort aria-label="Elements">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created By</th>
        <td mat-cell *matCellDef="let row">{{ row.createdBy }}</td>
      </ng-container>

      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created Date</th>
        <td mat-cell *matCellDef="let row">
          {{ row.createdDate | date: "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row" style="white-space: nowrap">
          <button mat-icon-button style="color: orange;" (click)="editTopicDiv(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button style="color: yellowgreen;" *ngIf="row.active" (click)="toggle(row)">
            <mat-icon>toggle_on</mat-icon>
          </button>
          <button mat-icon-button style="color: black;" *ngIf="!row.active" (click)="toggle(row)">
            <mat-icon>toggle_off</mat-icon>
          </button>
          <button mat-icon-button style="color: red;" (click)="delete(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="topicsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: topicsColumns"></tr>
    </table>

    <mat-paginator #topicPaginator [length]="topicsDataSource.data.length" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
    </mat-paginator>
  </div>
  <br />
  <hr />
  <br />
  <div class="mat-elevation-z8" *ngIf="editTopic._id">
    <mat-toolbar>
      <h1 class="mat-h1">{{ editTopic.name }}</h1>
    </mat-toolbar>
    <table mat-table [dataSource]="queriesDataSource" class="full-width-table" matSort aria-label="Elements">
      <ng-container matColumnDef="queryStr">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Query</th>
        <td mat-cell *matCellDef="let row">{{ row.queryStr }}</td>
      </ng-container>

      <ng-container matColumnDef="target">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Target</th>
        <td mat-cell *matCellDef="let row">{{ row.target }}</td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Options</th>
        <td mat-cell *matCellDef="let row">{{ row.options }}</td>
      </ng-container>

      <ng-container matColumnDef="optionType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Option Type</th>
        <td mat-cell *matCellDef="let row">{{ row.optionType }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row" style="white-space: nowrap">
          <button mat-icon-button style="color: yellowgreen;" *ngIf="row.xref" (click)="xrefToggle(editTopic._id, row)">
            <mat-icon>toggle_on</mat-icon>
          </button>
          <button mat-icon-button style="color: black;" *ngIf="!row.xref" (click)="xrefToggle(editTopic._id, row)">
            <mat-icon>toggle_off</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="queriesColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: queriesColumns"></tr>
    </table>

    <mat-paginator #queryPaginator [length]="queriesDataSource.data.length" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
    </mat-paginator>
  </div>
</div>